/*
Copyright 2024 Cassian Godsted. All rights reserved.
*/
/*FONT CSS*/

.post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #1f1f1f;
    border: 5px solid #393939;
}

.post h2 {
    text-align: center;
    margin-bottom: 0;
}


.post-image {
    width: 100%;
    object-fit: contain;
}

button {
    width: fit-content;
}


#posts {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: normal;
    padding-top: 1em;
    justify-content: space-evenly;
}


.post span {
    color: grey;
    text-align: center;
    margin-bottom: 1em;
}


.post .img {
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position: center;

}