/*
Copyright 2022 Con Godsted. All rights reserved.
*/
#about {
    display: flex;
    padding-left: 4vh;
    padding-right: 4vh;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
}
#about a:link, #about a:visited {
    color: #d22d59;
    margin: 0;
    text-decoration: underline 1.5px;
}