/*
Copyright 2022 Con Godsted. All rights reserved.
*/
nav { 
    text-align: center;
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}
#logo img {
    max-width: 20%;
    height: auto;
    padding: 20px 20px 0px 20px;
}
.buttons {
    display: flex;
    flex-direction: column;
}
.buttons button {
    width: 100%;
}
#index {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.item {
    background-color: gainsboro;
    width: 65vh;
    height: 60vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin: 2%;
    padding: 1%;
    border: 5px solid gray;
    border-radius: 5px;
}
.item p {
    text-align: left;
    padding-left: 10px;
}
.item:hover {
    border: 5px solid #d22d59;
}
.dropdown {
    display: none;
}
#dropdown {
    display: none;
}
#touch {
    display: none;
}
.slide {
    display: none;
}
.hidden {
    display: none;
}
#hamburger {
    display: none;
}
#nothamburger {
    display: none;
}