/*
Copyright 2022 Con Godsted. All rights reserved.
*/
.item {
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter .5s;
    text-align: center;
    margin: 0%;
}
.item p {
    background-color: white;
    font-weight: bold;
    font-size: larger;
}

.item:hover {
    filter: grayscale(0%);
    transition: filter .5s;
}
#ia {
    background-image: url(interalliance.png);
    background-size: cover;
    background-attachment:fixed;
    justify-content: center;
}
#to {
    background-image: url(techolympics.png);
    background-size: cover;
    background-attachment:fixed;
}
#carnegie {
    background-image: url(carnegie.png);
    background-size: cover;
    background-attachment:fixed;
}