---
layout: default
---

<link rel="stylesheet" href="/css/blog.css">
<div id="posts">
    {% for post in site.posts -%}
    <div class="glide post post-{{forloop.index}}">
        <h2>{{post.title}}</h2>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <div class="glide__track" data-glide-el="track">
            {% assign range = (1..post.length) -%}
          <ul class="glide__slides">
            {% for i in range -%}
            <li class="glide__slide"><img class="post-img" loading="lazy" style="height: {{post.height}};" src='/content/{{ post.date | date: "%Y%m%d" }}/00{% if i < 10 -%}0{%endif -%}{{i}}.webp' alt=""></li>
            {% endfor -%}
          </ul>
        </div>
        <div>{{post.excerpt}}</div>
        <a class="read-more" href="{{post.url}}">view post...</a>
      </div>
    {% endfor -%}
</div>

{{ content }}