---
layout: default
---
{{page.index}}
<link rel="stylesheet" href="/css/blog.css">
<div id="posts">
    {% for post in site.posts %}
    <div class="glide post">
        <h2>{{post.title}}</h2>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>

        <div class="glide__track" data-glide-el="track">
            {% assign range = (1..post.length) %}
          <ul class="glide__slides">
            {% for i in range %}
            <li class="glide__slide"><img class="post-img" style="height: {{post.height}};" src='/content/{{ post.date | date: "%Y%m%d" }}/000{{i}}.webp' alt=""></li>
            {% endfor %}
          </ul>
        </div>
        <div>{{post.excerpt}}</div>
        <a class="read-more" href="{{post.url}}">read more...</a>
      </div>
    
    {% endfor %}
</div>

{{ content }}